.slide-in {
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 300px;
  }
}

.chip {
  display: inline-block;
  /* background: #ff8800; */
  color: #374151;
  padding: 0.10rem 0.75rem;
  /* margin: 0.25rem; */
  border-radius: 9999px;
  font-size: 0.875rem;
  text-decoration: none;
}
.chip:hover {
  background: #969ca5;
}


/* Define the animation sequence */
@keyframes fade-animation {
  0% { opacity: 0; } /* Start completely transparent */
  50% { opacity: 1; } /* Fade to fully visible */
  100% { opacity: 0; } /* Fade back to transparent */
}

/* Apply the animation to the HTML element */
.animated-text {
  animation: fade-animation 3s infinite; /* 3 seconds, infinite loop */
  font-family: sans-serif;
  text-align: center;
}







  